# SQL II: Grouping and Joining

_September 21, 2020_

Agenda:
- Practice with Grouping in SQLite
- Practice with different types of Joins in SQLite

<img src = "https://media.giphy.com/media/3oKIPnAiaMCws8nOsE/giphy.gif">

In [ ]:
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np

## Part I. Grouping
Just like pandas, Sql support different types of grouping statements for performing aggregate functions and allow us to calculate various statistics for data.

Syntax:
`SELECT (*) FROM tables GROUP BY column`

In [ ]:
# instantiate some data
auto = pd.read_csv('auto-mpg.csv')
tips = sns.load_dataset('tips')
small_quiz = pd.DataFrame({"students":["Raizel","Mitch","Eric"],
                          "projects":[1,2,1],
                          "grades":np.random.randint(80,100,3)})
small_grades = pd.DataFrame({"students":["Mike W","Mitch","Mike R"],
                            "quiz_score":np.random.randint(0,10,3)})

In [ ]:
conn = sqlite3.connect('aggregate.db')
c = conn.cursor()

In [ ]:
# insert these datasets into our db
auto.to_sql('auto', con=conn)
tips.to_sql('tips', con=conn)
small_grades.to_sql('small_grade', con=conn)
small_quiz.to_sql('small_quiz',con=conn)

In [ ]:
# for the tips df/table, get the total number of man and woman

Syntax: `SELECT ___ FROM ___ GROUP BY ___`

In [ ]:
# in sql 
query = None
c.execute(query).fetchall()

In [ ]:
# using pandas, select the average amount tipped for time

In [ ]:
# use sql to recreate this query
query = None
c.execute(query).fetchall()

We can also use `GROUP BY` with certain conditions, in conjunction with filtering and ordering.

You can use :

`SELECT ___ FROM ___ WHERE ___ GROUP BY ___ `

`SELECT ___ FROM ___ GROUP BY ___ HAVING ____ `

In [ ]:
# use pandas, get the average total bills for a party larger than 2 for every size of party

# using pandas

In [ ]:
# use sql to recreate this query
query = None
c.execute(query).fetchall()

In [ ]:
# your turn - use pandas, get the maximum value of total bill for female non smoker

# using group by?

In [ ]:
# how to get this without using group by?

In [ ]:
# use sql to recreate this query
query = None
c.execute(query).fetchall()

In [ ]:
# your turn - use pandas, get the average tip values for different size groups, and show top 2
# most amount of average tips

In [ ]:
# use sql 
query = None
c.execute(query).fetchall()

## Part II. Join

Based on this diagram, how would you explain the different types of joins?

<img src = 'sql-joins.png' width = 400>

In [ ]:
print(small_grades)
print(small_quiz)

In [ ]:
# left join - join small quiz with small grades, on student name
small_grades.merge(small_quiz, left_on = 'students', right_on = 'students', how = "left")

# if i run this command, what would happen? how many observations/record?

In [ ]:
# sql 
query = None
c.execute(query).fetchall()

In [ ]:
# inner join and get the student's grades
small_grades.merge(small_quiz, on = 'students')

In [ ]:
query = """SELECT * FROM small_quiz JOIN small_grade ON small_grade.students = small_quiz.students"""
c.execute(query).fetchall()

In [ ]:
# your turn - use right join and get all entries

# pandas

In [ ]:
# sql

### Level up 
1. Subqueries (including anti-joins)
2. Get median (using OFFSET)

In [ ]:
# anti-join :get all the entries that are in the left table but not in the right table 
query = """SELECT left_table.id FROM `left table` WHERE left_table.id not in (SELECT id FROM right_table) """

In [ ]:
# get median - use offset 
query = """SELECT col FROM table ORDER BY col LIMIT 1 OFFSET (SELECT COUNT(*) FROM MyTable) / 2"""